<div class="d-flex flex-column align-items-center">
    <input type="text" class="form-control" placeholder="New group name" #groupName>
    <select class="form-select mt-2">
        <option selected disabled>Select participants</option>
        @for (friend of friends(); track friend.id) {
            <option [value]="friend.id">{{friend.name}}</option>
        }
    </select>
    <button class="btn btn-outline-secondary w-100 mt-2"><i class="bi bi-plus-square"></i> Create group</button>
</div>